<h1>Edit {{pirates}}</h1>	
	
	<form method="POST" action="/pirates/{{id}}?_method=PUT">
	  <div>
	    <label for="name">Name: </label>
	    <input type="text" name="name" value="{{pirates.name}}"></input>
	  </div>
	
	  <div>
	    <label for="birthplace">Birthplace: </label>
	    <input type="text" name="name" value="{{pirates.birthplace}}"></input>
		 </div>

		<div>
	    <label for="death_year">Death Year: </label>
	    <input type="text" name="death_year" value="{{pirates.death_year}}"></input>
		 </div>
	  <button>UPDATE TODONT</button>
	</form>